.camera-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @media (max-width: 719px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  &__picture {
    width: 100%;

    @media (max-width: 719px) {
      width: calc(100% + 31px);
      margin-left: -16px;
    }
  }
}