include build/project.pug
	
-
  let data = {
    main_title: "Еще больше возможностей",
    phone_name: "Samsung Galaxy S10",
    design_title: "Новый дизайн",
    design_items: [
      {
        img: {
          path: "img/design-features/banner.svg",
          alt: "Экран Infinity-O",
          title: "Экран Infinity-O"
        },
        text: "Абсолютно новый Infinity-O экран — на передней стороне смартфона нет ничего, кроме огромного экрана и фронтальной камеры.",
        main: true,
        grid_area: "main-1"  
      },
      {
        img: {
          path: "img/design-features/back_view.svg",
          alt: "Керамический корпус",
          title: "Керамический корпус"
        },
        text: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.",
        grid_area: "main-2"
      },
      {
        img: {
          path: "img/design-features/colors.svg",
          alt: "Четыре расцветки",
          title: "Четыре расцветки",
        },
        text: "Смартфоны доступны в 4х стильных цветах: Перламутр, Аквамарин, Оникс и Цитрус (для S10e).",
        no_border: true,
        grid_area: "small-1"
      },
      {
        img: {
          path: "img/design-features/gorilla_glass.svg",
          alt: "Стекло Gorilla Glass 6",
          title: "Стекло Gorilla Glass 6",
        },
        text: "В моделях S10 и S10+ установлены защитные стекла нового поколения – Gorilla Glass 6.",
        no_border: true,
        grid_area: "small-2"
      }
    ],
    camera_error_title: "Сканер отпечатка в экране",
    camera_title: "Съемка видео",
    camera_img: {
      path: "img/camera-features/camera.svg",
      alt: "Съемка видео",
      title: "Съемка видео"
    },
    camera_items: [
      {
        img: {
          path: "img/camera-features/camera-list/quality.svg",
          alt: "Высокое качество съемки",
          title: "Высокое качество съемки"
        },
        text: "Отличное качество съемки новых поколениесмартфонов Samsung позволит создать и смотреть праздники, семейные торжества и памятные моменты на огромном экране, с яркими, живыми цветами и прекрасной детализацией."
      },
      {
        img: {
          path: "img/camera-features/camera-list/stabilization.svg",
          alt: "Стабилизация изображения",
          title: "Стабилизация изображения"
        },
        text: "Дополнительная система стабилизации сделает видеоролики плавными и красивыми."
      },
      {
        img: {
          path: "img/camera-features/camera-list/slow-motion.svg",
          alt: "Замедленная съемка",
          title: "Замедленная съемка"
        },
        text: "Сверхзамедленная съемка (960 кадров в секунду) теперь в 2 раза дольше. Камера в S10 способна распознать  самое стремительное движение, такое как языки пламени, брызги воды, дым из под колес спорткара."
      }
    ],
    accessories_title: "Аксессуары",
    accessories_items: [
      {
        img: {
          path: "img/accessories-features/cases.svg",
          alt: "Ассортимент чехлов",
          title: "Ассортимент чехлов"
        },
        text_big: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.",
        text_medium: "Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.",
        text_small: "Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.",
        grid_area: "main-1"  
      },
      {
        img: {
          path: "img/accessories-features/power.svg",
          alt: "Зарядная станция Duo Pad",
          title: "Зарядная станция Duo Pad"
        },
        text_big: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.",
        text_medium: "Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.",
        text_small: "Беспроводная зарядная станция Duo Pad быстро заряжает одновременно два устройства, одно из которых охлаждается.",
        grid_area: "main-2"  
      },
      {
        text_big: "Galaxy S10+ в режиме Dex поддерживает широкоформатные мониторы. Мощный смартфон превращается в мощный десктоп.",
        text_medium: "Galaxy S10+ в режиме Dex поддерживает широкоформатные мониторы. Мощный смартфон превращается в мощный десктоп.",
        text_small: "Galaxy S10+ в режиме Dex поддерживает широкоформатные мониторы. Мощный смартфон превращается в мощный десктоп.",
        grid_area: "small-1"  
      },
      {
        text_big: "Смартфон S10 сразу укомплектован защитной пленкой.",
        text_medium: "Смартфон S10 сразу укомплектован защитной пленкой.",
        text_small: "Смартфон S10 сразу укомплектован защитной пленкой.",
        grid_area: "small-2"  
      }
    ],
    services_title: "Приложения и сервисы Samsung",
    services_items: [
      {
        img: {
          path: "img/services/smart_switch.svg",
          alt: "Smart Switch",
          title: "Smart Switch"
        },
        text: "Благодаря приложению Smart Switch можно перенести информацию со старого смартфона на новый."
      },
      {
        img: {
          path: "img/services/samsung_health.svg",
          alt: "Samsung Health",
          title: "Samsung Health"
        },
        text: "Приложение Samsung Health помогает контролировать физическую активность и вести дневник питания."
      },
      {
        img: {
          path: "img/services/bixby.svg",
          alt: "Bixby",
          title: "Bixby"
        },
        text: "Интеллектуальный помощник Bixby обеспечит быстрый доступ к переводчику, поиску в Интернете, покупкам и многому другому."
      },
      {
        img: {
          path: "img/services/samsung_pay.svg",
          alt: "Samsung Pay",
          title: "Samsung Pay"
        },
        text: "Приложение Samsung Pay дает возможность оплачивать свои покупки при помощи смартфона."
      },
      {
        img: {
          path: "img/services/smart_things.svg",
          alt: "Smart Things",
          title: "Smart Things"
        },
        text: "Благодаря приложению Smart Things можно управлять всеми смарт-устройствами дома."
      }
    ]
  };

+page(data)